.u-section-1 .u-sheet-1 {
  min-height: 400px;
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #77aad9, #adcce9);
  background-size: cover;
  min-height: 2951px;
}

.u-section-2 .u-group-1 {
  width: 767px;
  height: auto;
  --radius: 30px;
  min-height: 457px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 311px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 393px;
  height: 266px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -622px calc(((100% - 1140px) / 2)  + -60px) 0 auto;
}

.u-section-2 .u-image-2 {
  width: 393px;
  height: 266px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 223px calc(((100% - 1140px) / 2)  + 80px) 0 auto;
}

.u-section-2 .u-image-3 {
  width: 393px;
  height: 266px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -514px auto 0 calc(((100% - 1140px) / 2)  + -59px);
}

.u-section-2 .u-text-1 {
  font-family: Philosopher;
  margin: -481px auto 0;
}

.u-section-2 .u-list-1 {
  width: 767px;
  margin: 645px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 1569px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 159px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.5s;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.5s;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  transition-duration: 0.5s;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 393px;
  height: 266px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin: -140px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-image-5 {
  width: 393px;
  height: 266px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin: -753px auto 0 calc(((100% - 1140px) / 2)  + -84px);
}

.u-section-2 .u-image-6 {
  width: 393px;
  height: 266px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin: -1086px auto 0 0;
}

.u-section-2 .u-image-7 {
  width: 393px;
  height: 266px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  margin: 30px calc(((100% - 1140px) / 2)  + -14px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + -60px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 80px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + -59px);
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-5 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-left: calc(((100% - 940px) / 2) + -84px);
  }

  .u-section-2 .u-image-7 {
    margin-right: calc(((100% - 940px) / 2) + -14px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + -60px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 80px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + -59px);
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2) + -84px);
  }

  .u-section-2 .u-image-7 {
    margin-right: calc(((100% - 720px) / 2) + -14px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + -60px);
  }

  .u-section-2 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 80px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + -59px);
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-5 {
    margin-left: calc(((100% - 540px) / 2) + -84px);
  }

  .u-section-2 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2) + -14px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2807px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + -60px);
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 230px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-top: -478px;
    margin-left: calc(((100% - 340px) / 2) + -59px);
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 230px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-5 {
    margin-top: -717px;
    margin-left: calc(((100% - 340px) / 2) + -84px);
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 230px;
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 230px;
    margin-right: calc(((100% - 340px) / 2));
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-1,
.u-section-2 .u-group-1:before,
.u-section-2 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-1.u-group-1.u-group-1:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-group-1.u-group-1.u-group-1.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]),
.u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]).u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]).u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]).u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]).u-block-e9b7-27:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]).u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]).u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]).u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]).u-block-e9b7-24:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-7,
.u-section-2 .u-image-7:before,
.u-section-2 .u-image-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-7.u-image-7.u-image-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-7.u-image-7.u-image-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-5,
.u-section-2 .u-image-5:before,
.u-section-2 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-6,
.u-section-2 .u-image-6:before,
.u-section-2 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}